<html>
    <head>
        <title>Account details</title>
        <meta charset="utf-8">
        <meta  name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="manifest" href="https://htobacco.herokuapp.com/manifest.json" />
        <!-- <link rel="manifest" href="https://htobacco.herokuapp.com/manifest.json" /> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <script>
        // var url1="https://htobacco.herokuapp.com/all";
        var url1="http://localhost:5000/all";
        var url2="https://localhost:5000/";
          if('caches' in window){
        
        caches.match(url1)
        .then((response) => {
        if(response){
          console.log("from here",response);
          return response.text();
      }
    })
    .then((data) => {
// console.log("data",data);
if(data){
  document.body.innerHTML = data;
}
    });
    }
    fetch(url1)
        .then((response) => {
        //   console.log("from network",response);
          return response.text();
  })
  .then((data) => {
// console.log("data",data);
if(data){
  
  document.body.innerHTML = data;
}
    });

      </script>

        </head>
    <body>
        <!-- <h1>Loading...</h1> -->
        <!-- <script defer src="https://htobacco.herokuapp.com/rsw.js" ></script> -->
        <script defer src="http://localhost:5000/rsw.js" ></script>
        <script>
          function at(event){
            // var url3="https://htobacco.herokuapp.com/allTransactions"
            var url3="http://localhost:5000/allTransactions"
            if('caches' in window){
    //   console.log(url2);
  caches.match(url3)
  .then((response) => {
  if(response){
//   console.log("from here",response);
  return response.text();
  }
  })
  .then((data) => {
  // console.log("data",data);
  if(data){
    // console.log("datatat");
    document.body.innerHTML = data;
  }
  
  });
  }
  
  fetch(url3)
  .then((response) => {
//   console.log("response from net",response);
  return response.text();
  })
  .then((data) => {

  document.body.innerHTML = data;
  });

          }
          function vt(event){
            // var url4="https://htobacco.herokuapp.com/viewTransactions/"
            var url4="http://localhost:5000/viewTransactions/"
    var id=event.target.dataset.value;
    console.log(event);
    console.log("here")
    console.log(id);
  
    if('caches' in window){
    //   console.log(`${url3}${id}`);
  caches.match(`${url4}${id}`)
  .then((response) => {
  if(response){
//   console.log("from here",response);
  return response.text();
  }
  })
  .then((data) => {
  // console.log("data",data);
  if(data){
    console.log("datatat");
    document.body.innerHTML = data;
  }
  
  });
  }
  
  fetch(`${url4}${id}`)
  .then((response) => {
//   console.log("response from net",response);
  return response.text();
  })
  .then((data) => {
//   console.log("data",data);
  document.body.innerHTML = data;
  });


}
        </script>

    </body>
</html>